<!DOCTYPE html>
<html>
<head>
    <title>Ameya Tech Support</title>
</head>
<body>

<!-- Navbar -->
<div style="padding:10px; border-bottom:1px solid #ccc;">
    <b>Ameya Tech Support</b> |

    {{ request.user.username }} |
    {{ request.user.role }} |
    {{ request.user.department }}

    | <a href="/">Dashboard</a>
    | <a href="/tickets/raise/">Raise Ticket</a>
    
    <a href="{% url 'ticket_history' %}" class="btn btn-outline-primary"> |
   <i class="fa fa-history"></i> Ticket History
</a>

    | <a href="/logout/">Logout</a>

</div>


<hr>

<!-- Page Content -->
{% block content %}
{% endblock %}

</body>
</html>
